<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yameizitd.gateway.spoiler.mapper.TemplateMapper">
    <insert id="upsert" parameterType="com.yameizitd.gateway.spoiler.domain.entity.TemplateEntity">
        insert into
            spoiler_gateway_b_template("id", "name", "description", "type", "create_time", "update_time")
        values
            (#{entity.id}, #{entity.name}, #{entity.description}, #{entity.type}, #{entity.createTime},
            #{entity.updateTime})
        on conflict ("id") do
        update
            <set>
                <if test="entity.name != null and entity.name != ''">
                    "name" = #{entity.name},
                </if>
                <if test="entity.description != null and entity.description != ''">
                    "description" = #{entity.description},
                </if>
                <if test="entity.updateTime != null">
                    "update_time" = #{entity.updateTime}
                </if>
            </set>
    </insert>

    <delete id="delete">
        delete from spoiler_gateway_b_template where "id" = #{id}
    </delete>

    <delete id="deleteByIdAndType">
        delete from spoiler_gateway_b_template where "id" = #{id} and "type" = #{type}
    </delete>

    <select id="selectById" resultType="com.yameizitd.gateway.spoiler.domain.entity.TemplateEntity">
        select
            "id", "name", "description", "type", "create_time", "update_time"
        from
            spoiler_gateway_b_template
        where
            "id" = #{id}
        limit 1
    </select>

    <select id="selectByOptions" resultType="com.yameizitd.gateway.spoiler.domain.entity.TemplateEntity">
        select
            "id", "name", "description", "type", "create_time", "update_time"
        from
            spoiler_gateway_b_template
        <where>
            <if test="query.id != null">
                "id" = #{query.id}
            </if>
            <if test="query.name != null and query.name != ''">
                and "name" like concat('%', #{query.name}, '%')
            </if>
            <if test="type != null">
                and "type" = #{type}
            </if>
        </where>
        order by
            "id" desc
    </select>
</mapper>